:root {
  --main-color: #fff;
  --element-radius: 1em;
  --obs-background: #181819;
  --obs-button-background: #e40038;
  --obs-button-border: #92011f;
  --obs-button-hover-background: #92011f;
  --obs-button-hover-border: #e25a5e;
  --obs-button-color: #fff
}


*:focus {outline:none !important}



/*CLOCK*/
body.browser-source.clock{
	margin:0;
	font: bold 6vw 'Roboto Condensed', sans-serif;
	color: var(--main-color);
	text-align:right;
}

#div-clock {
    padding: .2em .5em;
    background: rgba(0,0,0,.2);
    display: inline-block;
    line-height: 1;
	border-radius: var(--element-radius);
}

/*OBS*/
.panel {
	background: var(--obs-background);
	color: var(--main-color);
	font:normal 14px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	max-width:100em;
	margin:1em;
	}
	
.panel input#lower-thirds-name, .panel input#lower-thirds-function {
	box-sizing: border-box;
	padding:.75em;
	margin:0 0 1em;
	border:none;
	display:block;
	width:100%;
}
	
.panel button{
	background: var(--obs-button-background);
	border: 1px solid var(--obs-button-border);
	color: var(--obs-button-color);
	text-align:center;
}

.panel button.onethird{
	width:30%;
	float:left;
	margin-right:2%
}

.panel button:hover{
	background: var(--obs-button-hover-background);
	border-color: var(--obs-button-hover-border);
}

.panel .radio-position{float: right;text-align:center}

.panel .radio-position input{
	width: 2em;
	height:2em;
	display:inline-block
}

.panel .radio-position input:checked{
	background:red
}
	
.panel ul#predefined {
    list-style: none;
    padding: 0;
}

.panel ul#predefined li .name, ul#predefined li .function {
    display: inline-block;
}	

.panel ul#predefined li {
    padding: .5em 1em;
    border: 1px solid #555;
    margin: 0 0 .25em;
    text-align: center;
    cursor: pointer;
}

.panel ul#predefined li .function:before{ content: "\00a0(";}
.panel ul#predefined li .function:after{ content: ")";}



		body.browser-source.lower-thirds{
		/*margin:0 2em;*/
		position:relative;
		overflow:hidden
		}

		h3{
			font-size: 2em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 700;
			margin: 0 0 0 0;
		}

		input{
			font-size: 1em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			font-size: 1em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 200;
			opacity: 1; /* Firefox */
		}

		.fixText{
			line-height: 30px;
			width: 95%;
			font-size: 1em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			color: white;
		}

		.bauchbinde-hintergrund{
			z-index: 0;
			position: absolute;

			/*background-color: #581624;*/
		}

		.bb-Haupttext{
			z-index: 1;
			position: absolute;
			text-align: right;
			margin-left: 25px;
			margin-right: 25px;
			height: 80px;
			width: 700px;
			top: 895px;
			left: 0px;
			overflow: hidden;
		}

		.bb-Untertitel{
			z-index: 1;
			position: absolute;
			text-align: right;
			margin-left: 25px;
			margin-right: 25px;
			height: 60px;
			width: 700px;
			top: 962px;
			left: 0px;
			overflow: hidden;

		}

.box{
	/*background-color: blue;*/
	border-left-style: dotted;
	border-top-style: dotted;
	border-color: black;
	border-width: 6px;
	width: 50px;
	height: 56px;
	z-index: 10;
	position: absolute;
	top:905px;
	left: 750px;
}
.box2{
	/*background-color: blue;*/
	border-bottom-style: dotted;
	border-color: black;
	border-width: 6px;
	width: 17px;
	height: 55px;
	z-index: 10;
	position: absolute;
	top:907px;
	left: 729px;
}

.grosserText{
	font-size: 4em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.kleinerText{
	font-size: 2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

		#schaltbar{
			width: 100%;
		}

		.listText{
			float: left;
			width: 64%;
			height: 30px;
		}

		.listButtons{
			float: left;
			width: 35%;
			height: 30px;
		}

		.inhalt{
			line-height: 30px;
			width: 95%;
		}

#Test {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
	font-size: 4em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}
#UtTest {
	position: absolute;
	visibility: hidden;
	height: auto;
	width: auto;
	white-space: nowrap;
	font-size: 2em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

.breitButton{
	height: 25px;
	margin: 1%;
	line-height: 0px;
	width: 98%;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: white;
}

.drittelButton{
	height: 25px;
	margin: 1%;
	line-height: 0px;
	width: calc((100% / 3) - (6% / 3) - 3px);
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: white;
	padding: 0;
	white-space: nowrap;
}

.darkButton{
	background-color: var(--obs-button-border) !important;
	border-color: var(--obs-button-background) !important;
}

.darkButton:hover{
	background: var(--obs-button-background) !important;
	border-color: var(--obs-button-border) !important;
}

		#version{
			position: absolute;
			left: 5px;
			bottom: 5px;
			font-size: 0.5em;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			color: white;
		}
		
		#lower-third, #lower-third.left, #lower-third.right{
		position:absolute;
		display:inline-block;
		transition: all .5s;
		}
		
		
		#lower-third.left{left:0}
		#lower-third.right{right:0}
		
		#lower-third .left-block, #lower-third .right-block{
		display:inline-block
		}
		
		#lower-third .left-block{
		border-right:1px solid #333;
		padding-right:.5em;
		margin-right:.5em
		}
		
		#lower-third .left-block img{
		height:7em
		}
		
	
		body.browser-source.lower-thirds #lower-third #name {
		font: bold 4vw 'Roboto Condensed', sans-serif;
		color: #555;
		left: 0;
		top: 0;
		}
		
		body.browser-source.lower-thirds #lower-third #function {
		font: bold 2vw 'Roboto Condensed', sans-serif;
		color: #999;
		line-height:1;
		top: 2.5em;
		}


#lower-third.animateIn.left{
	left: 0;
}

#lower-third.animateOut.left{
	left: -100vw;
}

#lower-third.animateIn.right{
	right: 0;
}

#lower-third.animateOut.right{
	right: -100vw;
}

.bbBildDreieck{
	left: -1100px;
	transition: left 3s;
}

.bbBildOnDisplayDreieck{
	left: 0px;
}

.bbTransitionOpa{
	opacity: 0;
	transition: opacity 1s;
}

.bbTransitionOpaFull{
	opacity: 1;
}

/*Abspann*/

.abspann-background{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 0;
	position: absolute;
}


#fragen-div{
	height: 60%;
	width: 94%;
	margin: 2%;
	padding: 1%;
	border: white 3px solid;
	border-radius: 10px;
	color: white;
	font-size: 3em;
}

#lower-abspann{
	width: 100%;
	height: 25%;
	margin-top: 0%;
	margin-bottom: 2%;
	padding: 0;
	background-color: white;
	position: absolute;
}

#bls-Logo{
	top: 2%;
	right: 0%;
	width: 40%;
	position: absolute;
}

#bls-next-Termine{
	top:0%;
	left:0%;
	width:14%;
	margin: 3%;
	position: absolute;
}

#bls-over-Termine{
	top:0%;
	left:20%;
	width:14%;
	margin: 3%;
	position: absolute;
}

.bls-Termine-head{
	color: black;
	font-size: 2em;
}

.bls-Termine-termin{
	color: black;
	font-size: 6em;
	position: absolute;
}

#bls-cvjm-logos{
	top: 0%;
	width:14%;
	margin: 1%;
	position: absolute;
	left: 40%
}

/*.bls-cvjm-logo{
	width: 100%;
	height: 40%;
	margin-bottom: 5%;
	margin-top: 5%;
	position: absolute;
}*/

#westbund{
	height: 100px;
	position: absolute;
}

#württemberg{
	top:100px;
	height: 140px;
	position: absolute;
	left: -25px;
}

#baden{
	top:100px;
	height: 120px;
	position: absolute;
}
#bayern{
	height: 100px;
	position: absolute;
}

.heuteMit{
	right: 33%;
	bottom: 5%;
	width: 140px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	font-size: 2em;
}

.heuteMitAbspann{
	left: 67%;
	bottom: 5%;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	font-size: 2em;
	width: 33%;
}

/*

Z-Ebenen

0: BB Hintergrund
1: BB Texte

 */